a[data-name] {
    width    : 100%;
    height   : 100%;
    position : relative;
    display  : block;
}

a[data-name] img {
    position : absolute;
    left     : 50%;
    top      : 50%;
}

a[data-name]:hover:after {
    display          : block;
    position         : absolute;
    top              : 0;
    left             : 0;
    right            : 0;
    bottom           : 0;
    background-color : rgba(32, 32, 32, 0.8);
    color            : white;
    text-align       : center;
    line-height      : 128px;
    text-shadow      : 0 0 10px rgb(255, 0, 0);
    text-transform   : capitalize;
    white-space      : nowrap;
}

td[width="64"] a[data-name]:hover:after {
    line-height : 64px;
    font-size   : 9px;
}

#main #text a[accesskey="n"]:before {
    display    : block;
    content    : '';
    top        : 50%;
    left       : 50%;
    position   : absolute;
    margin     : -30% -30%;
    width      : 60%;
    height     : 60%;
    box-shadow : 0 0 80px greenyellow;
}

.stat_diff {
    position         : fixed;
    top              : 0;
    left             : 0;
    right            : 0;
    padding          : 10px;
    background-color : grey;
    transition       : all 0.4s;
    transform        : translateY(-100%);
}

/**
<div class="stat_diff"><div><span class="name">Physical</span><span class="value">-15%</span></div>
<div><span class="name">Confidence</span><span class="value">-7%</span></div>
<div><span class="name">Gentleness</span><span class="value">+14%</span></div></div>
*/
.stat_diff:not(:empty):after {
    position                   : absolute;
    bottom                     : -32px;
    right                      : 0;
    display                    : block;
    content                    : '';
    background-color           : grey;
    width                      : 32px;
    height                     : 32px;
    border-bottom-left-radius  : 8px;
    border-bottom-right-radius : 8px;
    background-image           : url(stats_180.png);
    background-size            : cover;
}

.stat_diff:hover {
    transform : translateY(0);
}

.stat_diff div.positive {
    background-color : rgba(128, 255, 128, 0.5);
    margin-bottom    : 4px;
    padding          : 6px;
}

.stat_diff div.negative {
    background-color : rgba(255, 128, 128, 0.5);
    margin-bottom    : 4px;
    padding          : 6px;

}

.stat_diff span.name {
    display : inline-block;
    width   : 160px;
}